# Виртуальное окружение
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.p~$

# Логи
*.log

# Конфигурации IDE
.idea/
.vscode/

# База данных
data/*.db
*.sqlite3

# Документы, которые создаются автоматически
docs_out/
*.docx

# Файлы и папки, которые ты не хочешь заливать
*.bak
*.tmp
*.old

# Секретные файлы, если будут
.env
